<!--The content below is only a placeholder and can be replaced.-->
<app-channel-list (requestShowsEvent)="requestShows($event)" [channels]="channels" [disableButtons]="disableButtons"></app-channel-list>
<app-show-list [newShow]="shows"></app-show-list>
