<div class="container container-full">
  <div class="row">
    <div class="col-sm-2" *ngFor="let channel of channels">
      <button [disabled]="disableButtons" class="btn btn-primary" (click)="requestShows(channel.id)">{{channel.name}}</button>
    </div>
  </div>
</div>